.lesson02-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  flex: 1;
  padding-top: 50px;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}